.sortable {
    cursor: pointer;
    color: #dd5;
}

.warning {
    background-color: #CD5C5C;
}

table {
  color: #111;
  border-radius: 5px;
  overflow: hidden;
  margin: 12px 0;
  min-width: 300px;
  background: #A9A9A9;
}

.header-row {
    background: #808080	;
    color: #fff
}

th, td {
    text-align: left;
    margin: 5px 10px;
    padding: 6px;
}